In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Al", "Bhosdu", "Babblu"], 
    "last": ["Singh", "Lullu", "Capone"],
    "email": ["as@gmal.com", "bl@email.com", "bs@email.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first    last         email
0      Al   Singh   as@gmal.com
1  Bhosdu   Lullu  bl@email.com
2  Babblu  Capone  bs@email.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [6]:
df.columns = ["first_name", "last_name", "email_id"]

In [7]:
df

  first_name last_name      email_id
0         Al     Singh   as@gmal.com
1     Bhosdu     Lullu  bl@email.com
2     Babblu    Capone  bs@email.com

In [8]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME      EMAIL_ID
0         Al     Singh   as@gmal.com
1     Bhosdu     Lullu  bl@email.com
2     Babblu    Capone  bs@email.com

In [9]:
df.columns = df.columns.str.replace("_","-")
df

  FIRST-NAME LAST-NAME      EMAIL-ID
0         Al     Singh   as@gmal.com
1     Bhosdu     Lullu  bl@email.com
2     Babblu    Capone  bs@email.com

In [10]:
df.columns = [x.lower() for x in df.columns]
df.columns = df.columns.str.replace("-", "_")
df

  first_name last_name      email_id
0         Al     Singh   as@gmal.com
1     Bhosdu     Lullu  bl@email.com
2     Babblu    Capone  bs@email.com

ONLY CHANGE SOME COLUMNS?

In [11]:
df.rename(columns={"first_name": "first", "last_name": "last"}, inplace=True)

In [12]:
df

    first    last      email_id
0      Al   Singh   as@gmal.com
1  Bhosdu   Lullu  bl@email.com
2  Babblu  Capone  bs@email.com

In [15]:
df.loc[2, ["last", "email_id"]] = ["Bhosda", "hello123@org.edu"]

In [16]:
df

    first    last          email_id
0      Al   Singh       as@gmal.com
1  Bhosdu   Lullu      bl@email.com
2  Babblu  Bhosda  hello123@org.edu

In [18]:
df.rename(columns={"email_id": "email"}, inplace=True)
df

    first    last             email
0      Al   Singh       as@gmal.com
1  Bhosdu   Lullu      bl@email.com
2  Babblu  Bhosda  hello123@org.edu

In [19]:
df["email"] = df["email"].str.upper()

In [20]:
df

    first    last             email
0      Al   Singh       AS@GMAL.COM
1  Bhosdu   Lullu      BL@EMAIL.COM
2  Babblu  Bhosda  HELLO123@ORG.EDU

In [21]:
df["email"] = df["email"].str.lower()

In [22]:
df

    first    last             email
0      Al   Singh       as@gmal.com
1  Bhosdu   Lullu      bl@email.com
2  Babblu  Bhosda  hello123@org.edu

CHANGING MULTIPLE ROWS - MORE ADVANCED CHANGES

In [25]:
# apply - used for calling a function on our values
# map
# applymap
# replace

In [26]:
df["email"].apply(len)

0    11
1    12
2    16
Name: email, dtype: int64

In [27]:
def update_email(email):
    return email.upper()

In [28]:
df["email"].apply(update_email)

0         AS@GMAL.COM
1        BL@EMAIL.COM
2    HELLO123@ORG.EDU
Name: email, dtype: object

In [29]:
df

    first    last             email
0      Al   Singh       as@gmal.com
1  Bhosdu   Lullu      bl@email.com
2  Babblu  Bhosda  hello123@org.edu

In [31]:
df["email"] = df["email"].apply(update_email)

In [32]:
df

    first    last             email
0      Al   Singh       AS@GMAL.COM
1  Bhosdu   Lullu      BL@EMAIL.COM
2  Babblu  Bhosda  HELLO123@ORG.EDU

In [33]:
df["email"] = df["email"].apply(lambda x: x.lower())

In [34]:
df

    first    last             email
0      Al   Singh       as@gmal.com
1  Bhosdu   Lullu      bl@email.com
2  Babblu  Bhosda  hello123@org.edu

In [36]:
df["email"].apply(len)

0    11
1    12
2    16
Name: email, dtype: int64

In [39]:
df.apply(len)
# THIS APPLIES LEN FUNCTION TO EACH SERIES I.E COLUMNS IN THE DATAFRAME,
# NUMBER OF ROWS IN EACH COLUMN
# NOT TO EVERY VALUE IN THE DATAFRAME

first    3
last     3
email    3
dtype: int64

In [40]:
len(df["email"])

3

In [42]:
df.apply(pd.Series.min)
# gives minimum value in every series object/column

first             Al
last          Bhosda
email    as@gmal.com
dtype: object

In [47]:
# APPLYMAP - applies a function to every element in dataframe
df.applymap(len)

C:\Users\Rahul\AppData\Local\Temp\ipykernel_15420\1063224425.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)

   first  last  email
0      2     5     11
1      6     5     12
2      6     6     16

In [51]:
# applies a function to every element in dataframe
# DATFRAME.map()
df.map(str.lower)

    first    last             email
0      al   singh       as@gmal.com
1  bhosdu   lullu      bl@email.com
2  babblu  bhosda  hello123@org.edu

In [52]:
df.map(len)

   first  last  email
0      2     5     11
1      6     5     12
2      6     6     16

In [55]:
# Series.map
df["first"].map({"Al": "Hal"})

0    Hal
1    NaN
2    NaN
Name: first, dtype: object

In [56]:
df

    first    last             email
0      Al   Singh       as@gmal.com
1  Bhosdu   Lullu      bl@email.com
2  Babblu  Bhosda  hello123@org.edu

In [57]:
df2 = pd.read_csv("data/survey_results_public.csv", index_col="ResponseId")
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="qname")

In [58]:
pd.set_option("display.max_columns", 85)
pd.set_option("display.max_rows", 85)

In [59]:
df2.head()

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,TechList,BuyNewTool,Country,Currency,CompTotal,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysPersonal use,OpSysProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,AISearchHaveWorkedWith,AISearchWantToWorkWith,AIDevHaveWorkedWith,AIDevWantToWorkWith,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,SOAI,AISelect,AISent,AIAcc,AIBen,AIToolInterested in Using,AIToolCurrently Using,AIToolNot interested in Using,AINextVery different,AINextNeither different nor similar,AINextSomewhat similar,AINextVery similar,AINextSomewhat different,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Knowledge_8,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,18,9,"Senior Executive (C-Suite, VP, etc.)",2 to 9 employees,I have a great deal of influence,Investigate,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,285000.0,HTML/CSS;JavaScript;Python,Bash/Shell (all shells);C#;Dart;Elixir;GDScrip...,Supabase,Firebase Realtime Database;Supabase,Amazon Web Services (AWS);Netlify;Vercel,Fly.io;Netlify;Render,Next.js;React;Remix;Vue.js,Deno;Elm;Nuxt.js;React;Svelte;Vue.js,Electron;React Native;Tauri,Capacitor;Electron;Tauri;Uno Platform;Xamarin,Docker;Kubernetes;npm;Pip;Vite;Webpack;Yarn,Godot;npm;pnpm;Unity 3D;Unreal Engine;Vite;Web...,Vim;Visual Studio Code,Vim;Visual Studio Code,iOS;iPadOS;MacOS;Windows;Windows Subsystem for...,MacOS;Windows;Windows Subsystem for Linux (WSL),Asana;Basecamp;GitHub Discussions;Jira;Linear;...,GitHub Discussions;Linear;Notion;Trello,Cisco Webex Teams;Discord;Google Chat;Google M...,Discord;Signal;Slack;Zoom,ChatGPT,ChatGPT;Neeva AI,GitHub Copilot,GitHub Copilot,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely","I don't think it's super necessary, but I thin...",Yes,Indifferent,Other (please explain),Somewhat distrust,Learning about a codebase;Writing code;Debuggi...,Writing code;Committing and reviewing code,NaN,NaN,NaN,NaN,NaN,NaN,Yes,People manager,10.0,Strongly agree,Agree,Strongly agree,Agree,Agree,Agree,Agree,Strongly agree,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,27,23,"Developer, back-end","5,000 to 9,999 employees",I have some influence,Given a list,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,250000.0,Bash/Shell (all shells);Go,Haskell;OCaml;Rust,NaN,NaN,Amazon Web Services (AWS);Google Cloud;OpenSta...,NaN,NaN,NaN,NaN,NaN,Cargo;Docker;Kubernetes;Make;Nix,Cargo;Kubernetes;Nix,Emacs;Helix,Emacs;Helix,MacOS;Other Linux-based,MacOS;Other Linux-based,Markdown File;Stack Overflow for Teams,Markdown File,Microsoft Teams;Slack;Zoom,Slack;Zoom,NaN,NaN,NaN,NaN,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per month or weekly,Yes,Less than once per month or monthly,Neutral,NaN,"No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,23.0,Strongly agree,Neither agree nor disagree,Agree,Agree,Agree,Agree,Agree,Agree,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,12,7,"Developer, front-end",100 to 499 employees,I have some influence,Investigate,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,156000.0,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,PostgreSQL;Redis,PostgreSQL;Redis,Cloudflare;Heroku,Cloudflare;Heroku,Node.js;React;Ruby on Rails;Vue.js;WordPress,Node.js;Ruby on Rails;Vue.js,NaN,NaN,Homebrew;npm;Vite;Webpack;Yarn,Homebrew;npm;Vite,IntelliJ IDEA;Vim;Visual Studio Code;WebStorm,IntelliJ IDEA;Vim;WebStorm,iOS;iPadOS;MacOS,iOS;iPadOS;MacOS,Jira,Jira,Discord;Google Meet;Microsoft Teams;Slack;Zoom,Discord;Google Meet;Slack;Zoom,NaN,NaN,NaN,NaN,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"No, not really",I'm wearing of Stack Overflow using AI.,"No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,7.0,Strongly agree,Strongly disagree,Strongly agree,Strongly agree,Agree,Neither agree nor disagree,Agree,Agree,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,6,4,"Developer, full-stack",20 to 99 employees,I have some influence,Investigate,Start a free trial;Ask developers I know/work ...,Philippines,PHP\tPhilippine peso,1320000.0,HTML/CSS;JavaScript;TypeScript,HTML/CSS;JavaScript;Python;Rust;TypeScript,BigQuery;Elasticsearch;MongoDB;PostgreSQL,Elasticsearch;MongoDB;PostgreSQL;Redis;Supabase,Amazon Web Services (AWS);Firebase;Heroku;Netl...,Amazon Web Services (AWS);Cloudflare;Digital O...,Express;Gatsby;NestJS;Next.js;Node.js;React,Express;NestJS;Next.js;Node.js;React;Remix;Vue.js,NaN,NaN,Docker;npm;Webpack;Yarn,Docker;npm;Yarn,Vim;Visual Studio Code,Vim;Visual Studio Code,Other (Please Specify):,Other (Please Specify):,Confluence;Jira;Notion,Confluence;Jira;Notion,Discord;Google Meet;Slack;Zoom,Discord;Google Meet;Slack;Zoom,ChatGPT,ChatGPT,NaN,NaN,Stack Overflow;Stack Exchange,A few times per week,No,NaN,Neutral,Using AI to suggest better answer to my questi...,Yes,Very favorable,Increase productivity;Greater efficiency;Speed...,Somewhat trust,Project planning;Testing code;Committing and r...,Learning about a codebase;Writing code;Documen...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,6.0,Agree,Strongly agree,Agree,Agree,Neither agree nor disagree,Agree,Strongly agree,Agree,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [60]:
schema_df.head()

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
Q310,QID310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
Q120,QID312,,True,MC,SAVR
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB

In [63]:
schema_df.rename(columns={"qid": "quesid"}, inplace=True)

In [64]:
schema_df

,quesid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
Q310,QID310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
Q120,QID312,,True,MC,SAVR
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Age,QID127,What is your age? *,True,MC,MAVR
Employment,QID296,Which of the following best describes your cur...,False,MC,MAVR
RemoteWork,QID308,Which best describes your current work situation?,False,MC,SAVR
CodingActivities,QID297,Which of the following best describes the code...,False,MC,MAVR
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
EdLevel,QID25,Which of the following best describes the high...,True,MC,SAVR
LearnCode,QID276,How do you learn to code? Select all that apply.,False,MC,MAVR
LearnCodeOnline,QID281,What online resources do you use to learn to c...,False,MC,MAVR
LearnCodeCoursesCert,QID306,What online courses or certifications do you u...,False,MC,MAVR
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL
DevType,QID31,Which of the following describes your current ...,False,MC,SAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,SAVR
PurchaseInfluence,QID278,"What level of influence do you, personally, ha...",False,MC,SAVR
TechList,QID322,When thinking about new technology purchases a...,False,MC,SAVR
BuyNewTool,QID279,"When buying a new tool or software, how do you...",False,MC,MAVR
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,DL
CompTotal,QID51,What is your current total <b>annual</b> compe...,False,TE,SL
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
Webframe,QID264,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
ToolsTech,QID275,Which <b>developer </b><strong>tools for compi...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
OpSys,QID71,What is the primary <b>operating system</b> in...,False,Matrix,Likert
OfficeStackAsync,QID282,Which <b>collaborative work management and/or ...,False,Matrix,Likert
OfficeStackSync,QID307,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
AISearch,QID327,Which <b>AI-powered search tools</b> did you u...,False,Matrix,Likert
AIDev,QID328,Which <b>AI-powered developer tools</b> did yo...,False,Matrix,Likert
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,True,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,SAVR
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,SAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,SAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,SAVR
S5,QID313,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
SOAI,QID325,Artificial Intelligence (AI) tools have gained...,False,TE,SL
AISelect,QID314,Do you currently use AI tools in your developm...,True,MC,SAVR
AISent,QID315,How favorable is your stance on using AI tools...,False,MC,SAVR
AIAcc,QID324,For the AI tools you use as part of your devel...,False,MC,MAVR
AIBen,QID316,How much do you trust the accuracy of the outp...,False,MC,SAVR
AITool,QID319,Which parts of your development workflow are y...,False,Matrix,Likert
AINext,QID320,Thinking about how your workflow and process c...,False,Matrix,Likert
AIOpen,QID321,Please describe how you would expect your work...,False,TE,SL
S6,QID295,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
TBranch,QID299,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
ICorPM,QID287,Are you an individual contributor or people ma...,False,MC,SAVR
WorkExp,QID288,How many years of working experience do you have?,False,Slider,HSLIDER
Knowledge,QID289,Please rate your level of agreement with the f...,False,Matrix,Likert
Frequency,QID290,How frequently do you experience each of the f...,False,Matrix,Likert
TimeSearching,QID291,"On an average day, how much time do you typica...",False,MC,SAVR
TimeAnswering,QID292,"On an average day, how much time do you typica...",False,MC,SAVR
ProfessionalTech,QID304,My company has:,False,MC,MAVR
Industry,QID326,What industry is the company you work for in?,False,MC,SAVR
SOTeamsUsage,QID286,Does your team use Stack Overflow for Teams?,False,MC,SAVR
S7,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR
Knowledge_1,QID289,I have interactions with people outside of my ...,NaN,MC,MAVR
Knowledge_2,QID289,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
Knowledge_3,QID289,I can find up-to-date information within my or...,NaN,MC,MAVR
Knowledge_4,QID289,I am able to quickly find answers to my questi...,NaN,MC,MAVR
Knowledge_5,QID289,I know which system or resource to use to find...,NaN,MC,MAVR
Knowledge_6,QID289,I often find myself answering questions that I...,NaN,MC,MAVR
Knowledge_7,QID289,Waiting on answers to questions often causes i...,NaN,MC,MAVR
Knowledge_8,QID289,I feel like I have the tools and/or resources ...,NaN,MC,MAVR
Frequency_1,QID290,Needing help from people outside of your immed...,NaN,MC,MAVR
Frequency_2,QID290,Interacting with people outside of your immedi...,NaN,MC,MAVR
Frequency_3,QID290,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR