In [14]:
import pandas as pd

In [15]:
people = {
    "first": ["Al", "Bhosdu", "Babblu", "Anda"], 
    "last": ["Singh", "Lullu", "Lullu", "Lullu"],
    "email": ["as@gmal.com", "bl@email.com", "bs@email.com", "alulli@gmail.com"]
}

In [16]:
sample_df = pd.DataFrame(people)

In [17]:
sample_df

    first   last             email
0      Al  Singh       as@gmal.com
1  Bhosdu  Lullu      bl@email.com
2  Babblu  Lullu      bs@email.com
3    Anda  Lullu  alulli@gmail.com

In [18]:
sample_df.sort_values(by="last", ascending=False)

    first   last             email
0      Al  Singh       as@gmal.com
1  Bhosdu  Lullu      bl@email.com
2  Babblu  Lullu      bs@email.com
3    Anda  Lullu  alulli@gmail.com

In [19]:
sample_df.sort_values(by=["last", "first"], ascending=False)

    first   last             email
0      Al  Singh       as@gmal.com
1  Bhosdu  Lullu      bl@email.com
2  Babblu  Lullu      bs@email.com
3    Anda  Lullu  alulli@gmail.com

In [21]:
sample_df.sort_values(by=["last", "first"], ascending=[False, True], inplace=True)

In [22]:
sample_df

    first   last             email
0      Al  Singh       as@gmal.com
3    Anda  Lullu  alulli@gmail.com
2  Babblu  Lullu      bs@email.com
1  Bhosdu  Lullu      bl@email.com

In [25]:
sample_df.sort_index()

    first   last             email
0      Al  Singh       as@gmal.com
1  Bhosdu  Lullu      bl@email.com
2  Babblu  Lullu      bs@email.com
3    Anda  Lullu  alulli@gmail.com

In [26]:
sample_df["last"].sort_values()

3    Lullu
2    Lullu
1    Lullu
0    Singh
Name: last, dtype: object

In [27]:
df = pd.read_csv("data/survey_results_public.csv", index_col="ResponseId")
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="qname")

In [28]:
pd.set_option("display.max_columns", 85)
pd.set_option("display.max_rows", 85)

In [29]:
df.head()

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,TechList,BuyNewTool,Country,Currency,CompTotal,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysPersonal use,OpSysProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,AISearchHaveWorkedWith,AISearchWantToWorkWith,AIDevHaveWorkedWith,AIDevWantToWorkWith,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,SOAI,AISelect,AISent,AIAcc,AIBen,AIToolInterested in Using,AIToolCurrently Using,AIToolNot interested in Using,AINextVery different,AINextNeither different nor similar,AINextSomewhat similar,AINextVery similar,AINextSomewhat different,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Knowledge_8,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,18,9,"Senior Executive (C-Suite, VP, etc.)",2 to 9 employees,I have a great deal of influence,Investigate,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,285000.0,HTML/CSS;JavaScript;Python,Bash/Shell (all shells);C#;Dart;Elixir;GDScrip...,Supabase,Firebase Realtime Database;Supabase,Amazon Web Services (AWS);Netlify;Vercel,Fly.io;Netlify;Render,Next.js;React;Remix;Vue.js,Deno;Elm;Nuxt.js;React;Svelte;Vue.js,Electron;React Native;Tauri,Capacitor;Electron;Tauri;Uno Platform;Xamarin,Docker;Kubernetes;npm;Pip;Vite;Webpack;Yarn,Godot;npm;pnpm;Unity 3D;Unreal Engine;Vite;Web...,Vim;Visual Studio Code,Vim;Visual Studio Code,iOS;iPadOS;MacOS;Windows;Windows Subsystem for...,MacOS;Windows;Windows Subsystem for Linux (WSL),Asana;Basecamp;GitHub Discussions;Jira;Linear;...,GitHub Discussions;Linear;Notion;Trello,Cisco Webex Teams;Discord;Google Chat;Google M...,Discord;Signal;Slack;Zoom,ChatGPT,ChatGPT;Neeva AI,GitHub Copilot,GitHub Copilot,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely","I don't think it's super necessary, but I thin...",Yes,Indifferent,Other (please explain),Somewhat distrust,Learning about a codebase;Writing code;Debuggi...,Writing code;Committing and reviewing code,NaN,NaN,NaN,NaN,NaN,NaN,Yes,People manager,10.0,Strongly agree,Agree,Strongly agree,Agree,Agree,Agree,Agree,Strongly agree,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,27,23,"Developer, back-end","5,000 to 9,999 employees",I have some influence,Given a list,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,250000.0,Bash/Shell (all shells);Go,Haskell;OCaml;Rust,NaN,NaN,Amazon Web Services (AWS);Google Cloud;OpenSta...,NaN,NaN,NaN,NaN,NaN,Cargo;Docker;Kubernetes;Make;Nix,Cargo;Kubernetes;Nix,Emacs;Helix,Emacs;Helix,MacOS;Other Linux-based,MacOS;Other Linux-based,Markdown File;Stack Overflow for Teams,Markdown File,Microsoft Teams;Slack;Zoom,Slack;Zoom,NaN,NaN,NaN,NaN,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per month or weekly,Yes,Less than once per month or monthly,Neutral,NaN,"No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,23.0,Strongly agree,Neither agree nor disagree,Agree,Agree,Agree,Agree,Agree,Agree,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,12,7,"Developer, front-end",100 to 499 employees,I have some influence,Investigate,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,156000.0,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,PostgreSQL;Redis,PostgreSQL;Redis,Cloudflare;Heroku,Cloudflare;Heroku,Node.js;React;Ruby on Rails;Vue.js;WordPress,Node.js;Ruby on Rails;Vue.js,NaN,NaN,Homebrew;npm;Vite;Webpack;Yarn,Homebrew;npm;Vite,IntelliJ IDEA;Vim;Visual Studio Code;WebStorm,IntelliJ IDEA;Vim;WebStorm,iOS;iPadOS;MacOS,iOS;iPadOS;MacOS,Jira,Jira,Discord;Google Meet;Microsoft Teams;Slack;Zoom,Discord;Google Meet;Slack;Zoom,NaN,NaN,NaN,NaN,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"No, not really",I'm wearing of Stack Overflow using AI.,"No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,7.0,Strongly agree,Strongly disagree,Strongly agree,Strongly agree,Agree,Neither agree nor disagree,Agree,Agree,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,6,4,"Developer, full-stack",20 to 99 employees,I have some influence,Investigate,Start a free trial;Ask developers I know/work ...,Philippines,PHP\tPhilippine peso,1320000.0,HTML/CSS;JavaScript;TypeScript,HTML/CSS;JavaScript;Python;Rust;TypeScript,BigQuery;Elasticsearch;MongoDB;PostgreSQL,Elasticsearch;MongoDB;PostgreSQL;Redis;Supabase,Amazon Web Services (AWS);Firebase;Heroku;Netl...,Amazon Web Services (AWS);Cloudflare;Digital O...,Express;Gatsby;NestJS;Next.js;Node.js;React,Express;NestJS;Next.js;Node.js;React;Remix;Vue.js,NaN,NaN,Docker;npm;Webpack;Yarn,Docker;npm;Yarn,Vim;Visual Studio Code,Vim;Visual Studio Code,Other (Please Specify):,Other (Please Specify):,Confluence;Jira;Notion,Confluence;Jira;Notion,Discord;Google Meet;Slack;Zoom,Discord;Google Meet;Slack;Zoom,ChatGPT,ChatGPT,NaN,NaN,Stack Overflow;Stack Exchange,A few times per week,No,NaN,Neutral,Using AI to suggest better answer to my questi...,Yes,Very favorable,Increase productivity;Greater efficiency;Speed...,Somewhat trust,Project planning;Testing code;Committing and r...,Learning about a codebase;Writing code;Documen...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,6.0,Agree,Strongly agree,Agree,Agree,Neither agree nor disagree,Agree,Strongly agree,Agree,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [31]:
# sort by country
df.sort_values(by="Country", inplace=True)

In [35]:
df[["Country", "CompTotal", "Currency"]].head(50)

,Country,CompTotal,Currency
ResponseId,,,
21498,Afghanistan,NaN,ZMW Zambian kwacha
65293,Afghanistan,NaN,AED United Arab Emirates dirham
1335,Afghanistan,210000.0,AFN\tAfghan afghani
33928,Afghanistan,NaN,AED United Arab Emirates dirham
77723,Afghanistan,NaN,NaN
86039,Afghanistan,68000.0,USD\tUnited States dollar
10377,Afghanistan,NaN,NaN
83821,Afghanistan,NaN,AFN\tAfghan afghani
73714,Afghanistan,NaN,INR\tIndian rupee
61453,Afghanistan,NaN,AED United Arab Emirates dirham
21673,Afghanistan,NaN,USD\tUnited States dollar
55302,Afghanistan,NaN,AED United Arab Emirates dirham
62550,Afghanistan,NaN,AMD\tArmenian dram
84341,Afghanistan,NaN,NaN
47692,Afghanistan,NaN,AFN\tAfghan afghani
2301,Afghanistan,NaN,NaN
39427,Afghanistan,4200.0,AFN\tAfghan afghani
51789,Afghanistan,NaN,INR\tIndian rupee
76064,Afghanistan,NaN,NaN
53322,Afghanistan,69420.0,AFN\tAfghan afghani
65337,Afghanistan,NaN,AFN\tAfghan afghani
82385,Afghanistan,NaN,NaN
15959,Afghanistan,NaN,AWG\tAruban florin
14420,Afghanistan,NaN,BHD\tBahraini dinar
53883,Afghanistan,NaN,NaN
2642,Afghanistan,123.0,AED United Arab Emirates dirham
36049,Afghanistan,80000.0,AFN\tAfghan afghani
65505,Afghanistan,NaN,NaN
49208,Afghanistan,NaN,NaN
46137,Afghanistan,NaN,AFN\tAfghan afghani
60946,Afghanistan,NaN,AED United Arab Emirates dirham
29006,Afghanistan,NaN,NaN
20378,Afghanistan,NaN,NaN
61076,Afghanistan,1.0,DOP\tDominican peso
61080,Afghanistan,NaN,NaN
26532,Afghanistan,NaN,NaN
31397,Afghanistan,NaN,AMD\tArmenian dram
75452,Afghanistan,NaN,NaN
39319,Afghanistan,NaN,NaN
17873,Afghanistan,100000.0,AFN\tAfghan afghani
57687,Afghanistan,NaN,AFN\tAfghan afghani
23095,Afghanistan,NaN,NaN
27885,Afghanistan,NaN,AED United Arab Emirates dirham
55524,Afghanistan,NaN,AFN\tAfghan afghani
65722,Afghanistan,NaN,AFN\tAfghan afghani
41679,Afghanistan,56666.0,AFN\tAfghan afghani
38328,Afghanistan,NaN,NaN
67794,Afghanistan,0.0,BAM\tBosnia and Herzegovina convertible mark
57715,Afghanistan,NaN,NaN
44908,Afghanistan,NaN,NaN