In [9]:
import pandas as pd
from datetime import datetime

In [10]:
d_parser = lambda x: datetime.strptime(x, "%Y-%m-%d %I-%p")
df = pd.read_csv("dates.csv", parse_dates=["Date"], date_parser = d_parser)

C:\Users\Rahul\AppData\Local\Temp\ipykernel_5528\1553931666.py:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv("dates.csv", parse_dates=["Date"], date_parser = d_parser)

In [3]:
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [4]:
df.loc[0, "Date"].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [5]:
df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d %I-%p")
# format tells pandas how to parse for the dates

In [6]:
df["Date"]

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [8]:
df.loc[0, "Date"].day_name()

'Friday'