In [1]:
import pandas as pd

In [2]:
d = {
    "name": ["Babblu","Alphonso", "Bhosdu"],
    "profession": ["Security guard", "Politician", "Entrepreneur"],
    "email": ["bab@gmail.com", "alcap@email.com", "bh@email.edu"]
}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

       name      profession            email
0    Babblu  Security guard    bab@gmail.com
1  Alphonso      Politician  alcap@email.com
2    Bhosdu    Entrepreneur     bh@email.edu